PORT=3011
DATABASE_URL=./plxyground.db
JWT_SECRET=replace_this_with_a_minimum_32_character_secret
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:19006,http://localhost:3012,http://localhost:8081
NODE_ENV=development
